<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hype.mapper.PurchaseMapper">
   
   
   <!--장바구니 테이블에 추가   -->
   <insert id="addToCart" parameterType="org.hype.domain.cartVO">
      insert into cart_tbl(gno, userNo, camount, cprice, gprice, gname) values(#{gno},#{userNo},#{camount},#{cprice},#{gprice},#{gname})
   </insert>


   <!--장바구니 페이지에 정보 불러오기  -->
   <select id="getCartInfo" parameterType="int" resultType="org.hype.domain.cartVO">
      select * from cart_tbl where userNo = #{userNo}
   </select>


   <!--gno로 장바구니 이미지 가져오기  -->
   <select id="getMyCartImg" parameterType="int"  resultType="org.hype.domain.gImgVO">
      select * from goods_banner_img_tbl where gno = #{gno}
   </select>
   
   <!--장바구니에 이미 추가됐는지 확인하기  -->
   <select id="alreadyInCart"  parameterType="int" resultType="int">
      select count(*) from cart_tbl where userNo = #{userNo} and  gno = #{gno}
   </select>


   <!--장바구니 상품 삭제  -->
   <delete id="deleteItem" parameterType="int">
       DELETE FROM cart_tbl WHERE userNo = #{userNo} AND gno = #{gno}
   </delete>
   
   <!--사용자 결제 정보 가져오기  -->
   <select id="getPayInfo" resultType="org.hype.domain.signInVO">
      select userName,userEmail,userNumber from sign_in_info_tbl where userNo=#{userNo}
   </select>
   
   <!--결제 가격 불러오기 -->
   <select id="getPrice" resultType="int">
      select cprice from cart_tbl where userNo=#{userNo}
   </select>
   

	<!--결제 목록에 추가  -->
	<insert id="addToPayList" parameterType="org.hype.domain.payVO">
	 insert into pay_list_tbl(orderId, gno, userNo, camount, gbuyDate, gsituation, iamUid)
   	 values  (#{orderId}, #{gno}, #{userNo}, #{camount}, sysdate, '주문완료', #{iamUid})
	</insert>


      
   <!--구매한 상품 목록 정보 가져오기  -->
<select id="getPayList" resultType="org.hype.domain.payVO">
  <![CDATA[
  SELECT * FROM (
     SELECT a.*, ROWNUM AS row_num
     FROM (
        SELECT 
            pay_list_tbl.orderId,
            pay_list_tbl.camount,
            pay_list_tbl.gSituation,
            pay_list_tbl.gbuyDate,
            goods_info_tbl.gname,
            goods_info_tbl.gprice,
            pay_list_tbl.gno
        FROM pay_list_tbl
        JOIN goods_info_tbl ON pay_list_tbl.gno = goods_info_tbl.gno
        WHERE pay_list_tbl.userNo = #{userNo}
        ORDER BY pay_list_tbl.gbuyDate DESC
     ) a
     WHERE ROWNUM <= #{offset} + #{pageSize}
  )
  WHERE row_num > #{offset}
  ]]>
</select>

   
   <!--구매한 상품 목록에 이미지 가져오기  -->
   <select id="getPayListImg" resultType="org.hype.domain.gImgVO">
      select * from goods_banner_img_tbl where gno = #{gno}
   </select>      
            
            
    <!-- 전체 결제 항목 수 -->
    <select id="getTotalItems" resultType="int">
        SELECT COUNT(*)
        FROM pay_list_tbl
        WHERE userNo = #{userNo}
    </select>         
            
   <!--1일 지난 상품 현황 바꾸기 -->
   <update id="oneDayGsituation">
        UPDATE pay_list_tbl 
        SET gsituation = '배송중' 
        WHERE gbuyDate &lt;= SYSTIMESTAMP - INTERVAL '1' DAY 
        AND gsituation = '주문완료'
    </update>   
   
   <!--3일 지난 상품 현황 바꾸기 -->
   <update id="threeDayGsituation" >
      update pay_list_tbl set gsituation='배송완료' where  gbuyDate &lt;= SYSTIMESTAMP - INTERVAL '3' day and gsituation='배송중'
   </update>
   
   <!--배송지 기억하기 체크했을 때 가져오는 배송지 주소  -->
   <select id="getUser" resultType="org.hype.domain.deliveryVO">
      select address, DetailAddress from delivery_tbl where userNo=#{userNo}
   </select> 
   
   
   <!--수량 업데이트  -->
  <update id="updateCartAmount" parameterType="org.hype.domain.cartVO">
    UPDATE cart_tbl
    SET camount = #{camount}
    WHERE gno = #{gno}
 </update>
 
 
 	<!--결제 후 장바구니 목록 삭제-->
   <delete id="deleteCartItems" parameterType="int">
    DELETE FROM cart_tbl
    WHERE gno=#{gno} and userNo=#{userNo} 
	</delete>
	
	

</mapper>